*{margin: 0px; padding: 0px; box-sizing: border-box;}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h1{
  text-align: center;
  text-shadow: 3px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
  font-style: italic;
  color:white;
  font-weight: bold;
  font-size: xx-large;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.transparente{
  background-color: rgba(253, 253, 253, 0.849);
  margin: auto;
  width: 1000px;
  height: 1800px;
}
.QSOY{
  background-color: rgba(250, 235, 215, 0.774);
  margin: 0% 20%;
  text-align: center;
  border:#111;
  border-radius: 10px;
  width: 600px;
  height: 500px;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style:inherit;
  text-shadow: 3px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
  color:#e2f2ff;
}
.qsoyimag{
  display: flex;
}
.yo{
  height: 350px;
  width: 350px;
  border-radius: 30px;
}
.texto1{
  margin-top: 15px;
  margin-right: 20px;
  text-align:justify;
}
.MAP {
  align-items:  center;

}
.alimapa{
  margin-left: 200px;
}
.contenedordemusica{
  background-color: rgba(250, 235, 215, 0.774);
  margin: 0% 20%;
  width: 600px;
  height: 800px;
}
h2{
  text-align: center;
  text-shadow: 3px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
  color:#e2f2ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
  text-align: center;
  text-shadow: 3px  0px 0px black,
  0px  3px 0px black,
 -3px  0px 0px black,
  0px -3px 0px black;
  color:#fff9da;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mysong{
  margin-left: 25px;
}
.tld{
  margin-left: 50PX;
  width: 200px;
  height: 200px;
}
.RUFUS {
  margin-left: 90PX;
  width: 200px;
  height: 200px;
}
.oneheart{
  margin-left: 50PX;  
  width: 200px;
  height: 200px;
}
.be{
  margin-left: 90PX;
  width: 200px;
  height: 200px;
}

.explica{
  background-color: rgba(250, 235, 215, 0.658);
  margin: 0% 20%;
  width: 600px;
  height: 400px;
}
.texto2{
  text-align: center;
}
.micole{
 margin-left: 100px;
}
.primaria{
  background-color: rgba(176, 149, 241, 0.836);
  margin: 0% 20%;
  width: 600px;
  height: 400px;
}
.ET1{
  width: 300px;
  height: 500px;
}
.etapa1{
  display: flex;
}
.texto3{
  margin-top: 10px;
  margin-right: 20px;
  text-align: justify;
}

.etapa2{
  display: flex;
}

.secu{
  background-color: rgb(146, 145, 145);
  margin: 0% 20%;
  width: 600px;
  height: 400px;
}
.texto4{
  margin-top: 10px;
  margin-right: 20px;
  text-align: justify;
}
.set2{
  width: 300px;
  height: 500px;
}

.presente{
  background-color: rgb(160, 238, 177);
  margin: 0% 20%;
  width: 600px;
  height: 400px;
}
.etapa3{
  display: flex;
}
.texto5{
  margin-top: 10px;
  margin-right: 20px;
  text-align: justify;
}
.str{
  width: 300px;
  height: 100px;
}


.futuro{
  background-color: rgba(250, 235, 215, 0.774);
  margin: 0% 20%;
  width: 600px;
  height: 400px;
}
.textof{
  margin-top: 10px;
  margin-right: 20px;
  text-align: justify;
}
.etapafut{
  display: flex;

}
.iwmkt{
  width: 300px;
  height: 500px;
}

.transparente2{
  background-color: rgba(253, 253, 253, 0.849);
  margin: auto;
  width: 1000px;
  height: 600px;
}
.box{
  background: #333;
  margin: 0% 20%;
  border-radius: 20px;
  width: 600px;
  height: 60px;
}
.sms{
  text-align: center;
  color: white;
 

}






::-webkit-scrollbar{
  width: 20px;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(to top,#00dbde 0%, #fffaced3 100% );
  border-radius: 20px;
}
::-webkit-scrollbar-track{
  background-color: dimgrey;
  opacity: 0.3px;
  border-radius: 15px;
}

